@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Alumni Sans", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

header {
    height: 950px;
}

header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

header-content {
    display: flex;
    justify-content: center;
    height: 500px;
}
header-content .video-bg-container {
    height: 500px;
}

header-content .text-wrap { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header-content .title {
    text-transform: uppercase;
    color: white;
    max-width: 23em;
    line-height: 80px;
    h2 {
        font-family: "Alumni Sans", sans-serif;
        font-weight: 100;
        font-size: 4em;
    }
    
    h1 {
        font-family: "Alumni Sans", sans-serif;
        font-size: 6em;
        
        
        span {
            font-family: "Alumni Sans", sans-serif;    
            color: #A9242B;
        }
    }
}

header-content .sub-title {
    color: rgb(94, 93, 92);
    font-size: 1.2em;
    max-width: 18em;
}





@media (max-width: 850px) {
    header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 750px;
    }

    header-content {
        display: flex;
        height: 500px;
        flex-wrap: wrap;
        padding: 0 5.9em;
    }
header-content .video-bg-container {
    height: 300px;
    z-index: -1;
}

header-content .text-wrap { 
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -2em;
    align-items: center;
    z-index: 1;

}
header-content .title {
    margin-bottom: 1em;
    text-transform: uppercase;
    color: white;
    max-width: 23em;
    line-height: 70px;
    h2 {
        font-family: "Alumni Sans", sans-serif;
        font-weight: 100;
        font-size: 2.5em;
        z-index: 1;
    }
    
    h1 {
        font-family: "Alumni Sans", sans-serif;
        font-size: 6em;
        
        
        span {
            font-family: "Alumni Sans", sans-serif;    
            color: #A9242B;
        }
    }
}

    header-content .sub-title {
        margin-bottom: 1em;
        color: rgb(94, 93, 92);
        font-size: 1em;
        max-width: 16em;
    }
}