@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Alumni Sans", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00030b;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;

}

header {
    position: relative;
    height: 950px;
    background-image: url(Images/slide/girichki.png);
    background-position:  center;
    background-repeat: no-repeat;
    z-index: -999;
        border-image: fill 1 linear-gradient(rgba(0, 0, 0, 0.856));
    
}

header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    
    
}

header-content {
    display: flex;
    justify-content: space-around;
    height: 500px;
    
}
header-content .video-bg-container {
    height: 500px;
    flex-wrap: wrap;
    
}

header-content .text-wrap { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
header-content .title {
    text-transform: uppercase;
    color: white;
    max-width: 23em;
    line-height: 80px;
    h2 {
        font-family: "Alumni Sans", sans-serif;
        font-weight: 100;
        font-size: 4em;
    }
    
    h1 {
        font-family: "Alumni Sans", sans-serif;
        font-size: 6em;
        
        
        span {
            font-family: "Alumni Sans", sans-serif;    
            color: #A9242B;
        }
    }
}

header-content .sub-title {
    color: rgb(94, 93, 92);
    font-size: 1.2em;
    max-width: 18em;
}
header-content .btn {
    position: relative;
    width: 125px;
    
    
}
header-content .btn a{
    color: white;
    font: 1.1em;
    text-decoration: none; 
    position: relative;
    text-transform: uppercase;
}
header-content .btn::after{
    content: "";
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    right: 0;
    top: 100%;
    background-color: #A9242B;
}





@media (max-width: 850px) {
    header {
    height: 800px;
}

    header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 650px;
    }

    header-content {
        display: flex;
        height: 500px;
        flex-wrap: wrap;
        padding: 0 5.9em;
    }
header-content .video-bg-container {
    height: 250px;
    z-index: -1;
    overflow: hidden;
}

header-content .text-wrap { 
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -2em;
    align-items: center;
    z-index: 1;

}
header-content .title {
    margin-bottom: 1em;
    text-transform: uppercase;
    color: white;
    max-width: 23em;
    line-height: 70px;
    h2 {
        font-family: "Alumni Sans", sans-serif;
        font-weight: 100;
        font-size: 2.5em;
        padding: 0;
        margin-bottom: -.4em;
        z-index: 1;
    }
    
    h1 {
        font-family: "Alumni Sans", sans-serif;
        font-size: 6em;
        margin-bottom: .2em;
        
        
        span {
            font-family: "Alumni Sans", sans-serif;    
            color: #A9242B;
        }
    }
}

header-content .sub-title {
    margin-bottom: 5em;
    color: rgb(156, 155, 154);
    font-size: 1em;
    max-width: 16em;
}
}




.logos{
    overflow: hidden;
    white-space: nowrap;
    
}
.logos-slide {
    display: inline-block;
    animation: slide 10s linear infinite;
    img {
        width: 32em;
        padding: 2em;
    }
    
}





@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}



@media (max-width: 580px) {
    header-content {
        display: flex;
        height: 500px;
        flex-wrap: wrap;
        padding: 1em;
    }
}